/* changePassword.css */
.change-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000; /* Crna pozadinska boja */
    color: #fff; /* Bijeli tekst */
    font-family: Arial, sans-serif;
}

.change-password-form {
    padding: 20px;
    margin: 20px;
    width: 100%;
    max-width: 400px;
    background-color: #222; /* Tamno siva za formu */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2); /* Sjena za formu */
}

.change-password-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.change-password-form input {
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 10px;
    border: 1px solid #555; /* Tamno siva za obrub */
    background-color: #333; /* Još tamnija siva za input */
    border-radius: 4px;
    color: #fff; /* Bijeli tekst */
}

.change-password-form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.change-password-form button:hover {
    background-color: #0056b3;
}

.change-password-form p {
    text-align: center;
    margin-top: 15px;
    color: #d9534f; /* Boja za poruke o greškama */
}