.Header {
    position: fixed;
    top:0;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 15px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header a {
    color: white;
    padding: 5px 10px;
    margin: 0 10px;
    text-decoration: none;
}

.Header button {
    margin-bottom: 10px;
    background: white;
    color: black;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
}

.Header button:hover {
    background-color: #e0e0e0;
}

.Header button:disabled {
    color: #ddd;
}

.LoggedIn {
    color: white;
    padding-left: 2%;
    padding-right: 2%;
}

