.centeredWrapper {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.images {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.image-item {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
}


.error-message {
    color: red;
    margin-bottom: 20px;
}
.image-item img {
    max-width: 100%; /* Ovo će osigurati da slika ostane unutar svog kontejnera */
    height: auto;    /* Visina će biti automatski prilagođena zadržavajući odnos stranica */
}

@media (max-width: 1000px) {
    .sponsorss {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .image-item {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}