.page-container {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Postavljanje visine na 100% visine prozora preglednika */
}



input {
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}
