.posters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 60px; /* Space below header */
    padding-bottom: 50px; /* Space at the bottom */
    width: 100%; /* Full width */
    height: auto; /* Adjust height automatically */
}

.work-container {
    display: flex;
    flex-direction: column; /* Stack title/author and PDF vertically */
    align-items: center;
    width: 80%;
    margin-top: 10rem;
}

.work-container button {
    margin-top: 17rem;;
}

.work-info {
    text-align: center;
    margin: 20px 0 10px; /* Adjust the top margin to push the title down */
}

.content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.pdf-container {
    display: flex; /* Use flex to contain the iframe properly */
    justify-content: center;
    align-items: center;
    flex: 1; /* Allow PDF to grow */
    padding: 10px;
    height: auto; /* Adjust height automatically */
}

.pdf-document {
    width: 200%; /* Adjust width automatically */
    height: 500px; /* Fixed height, you can adjust as needed */
    border: none;
}

.voting-container {
    flex-shrink: 0; /* Prevent the button from shrinking */
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: start; /* Align the button to the top */
    padding: 5px 0px; /* Padding on the sides of the button */
}

.sponsor {
    width: 100%;
    position: relative;
    bottom: -3rem;
}

.pdf-and-link-container {
    display: flex; /* Use flex to contain the iframe properly */
    flex-direction: column; /* Stack the PDF and link vertically */
    align-items: center; /* Center the items */
    padding: 10px;
}

.presentation-link {
    margin-top: 10px; /* Add space between the PDF and the link */
    text-decoration: none; /* Optional: removes underline from link */
    color: #000; /* Optional: sets the text color of the link */
}

header {
    position: relative;
    z-index: 10; /* Above other content */
}

@media (max-width: 1000px) {
    .posters-container{
        margin-top: 12rem;
        margin-bottom: 9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
}

