.sponsors-container {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0.5rem;
    align-items: center;

}

.sponsors-container img {
    width: 100px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.sponsors-container img:hover {
    transform: scale(1.1);
}

@media (max-width: 1000px) {
    .sponsors-container {
        margin-bottom: -10rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}