.video-stream-container {
    display: block;
    max-width: 100%; /* Širina kontejnera prilagođena veličini ekrana */
    margin: 10rem auto; /* Centriranje kontejnera */
    padding: 5px; /* Unutarnji razmak */
    text-align: center; /* Centriranje naslova */
}

.video-stream-container h2 {
    font-size: 24px; /* Velika slova za naslov */
    color: #333; /* Tamnija boja teksta */
    margin-bottom: 20px; /* Razmak ispod naslova */
}

.video {
    display: flex;
    max-width: 80%; /* Osigurava da video zauzima 100% širine kontejnera */
    height: 0; /* Postavljamo visinu na 0 kako bi održali omjer stranica */
    padding-bottom: 56.25%; /* Omjer stranica 16:9 (100 / 16 * 9) */
    position: relative; /* Relativna pozicija za apsolutno pozicioniranje iframe-a */
    border-radius: 4px; /* Zaobljeni uglovi za video */
   /* Skrivanje sadržaja izvan granica video kontejnera */
    margin: auto;
    align-content: center;
}

#frame {
    position: absolute; /* Apsolutna pozicija u odnosu na roditeljski .video */
    width: 100%; /* Popuni cijeli roditeljski .video */
    height: 100%; /* Popuni cijeli roditeljski .video */
    border: none; /* Bez granica oko iframe-a */
}



/* Opcionalno: Dodajte dodatne stilove za responsive dizajn */
@media (max-width: 1000px) {
    .video-stream-container {
        margin-bottom: -7rem;
    }

    .sponsorsClassName {
        margin-top: 8rem;
    }
}
