.weather-container {
    position: absolute;
    top: 3rem;
    right: 10px;
    width: 16rem;
    align-items: center;
}



@media (max-width: 1000px) {
    .weather-container{
       display: flex;
       flex-direction: column;
       width: 100%;
       align-items: center;
       margin-right: -0.5rem;
    }
}