<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Dohvati token iz URL-a
            var token = getUrlParameter('token');
            document.getElementById('proba').value = token;

            // Pozovi /changepassword endpoint
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/reset/changepassword?token=' + token, true);
            /*xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    // Ako je poziv uspješan, možete raditi dodatne operacije ovdje
                    if (xhr.status == 200) {
                        console.log('Poziv na /changepassword je uspješan.');
                    } else {
                        // Ako poziv ne uspije, možete raditi dodatne operacije ovdje
                        console.error('Pogreška prilikom poziva /changepassword. Status:', xhr.status);
                    }
                }
            };
            xhr.send();*/
        });
        function getUrlParameter(name) {
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)');
            var results = regex.exec(window.location.href);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
    </script>
</head>
<body>
<h2>Change Password</h2>
<form action="/api/reset/savePassword" method="post">
    <input type="hidden" name="token" id="proba" value=getUrlParameter('token')>
    <label for="lozinka">New Password:</label>
    <input type="password" id="lozinka" name="lozinka" required>
    <button type="submit">Save Password</button>
</form>
</body>
</html>
