<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>
<h2>Registration Form</h2>
<form action="/registracija" method="post">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="lozinka">lozinka:</label>
    <input type="password" id="lozinka" name="lozinka" required><br>

    <label for="ime">ime:</label>
    <input type="text" id="ime" name="ime" required><br>

    <label for="prez">prezime:</label>
    <input type="text" id="prez" name="prezime" required><br>

    <input type="hidden" id="uloga" name="uloga" value="korisnik">
    <input type="submit" value="Register">
</form>
</body>
</html>
